*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    height: 70px;
    background-color: blueviolet;
}
nav ul{
    list-style: none;
    display: flex;
    background-color:#FA02A0 ;
    height: 70px;
    align-items: center;
    margin-left: 0 40px;
}
nav ul li a{
    padding: 0 40px;
    }
nav ul li a{
text-decoration: none;
}
nav ul li a i{
    color: white;
    font-size: 40px;
}
.container{
    display: flex;
}
#textarea
{
    width: 320px;
    position: relative;
    top: 10px;
    left: 18px;
    height: 600px;
    font-size: 22px;
    outline: none;
    
}
#textarea:hover{
    border:1px solid #FA02A0 ; 
    cursor: pointer;
}
.code{
    position: relative;
}
.btn{
    position: relative;
    top: 10px;
    left: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    background-color: #E4E2E4;
    border:none;
    
}
#blocklyDiv{
    position: relative;
    top: 10px;
    left: 10px;
}

.btn{
    transition: 2s;
}
.btn i{
    font-size: 35px;
    transition: 2s; 
}
#btn1{
    border: 2px solid #FA02A0;
}
#btn2{
    border: 2px solid  #02FAA4;
}
#btn1:hover{
    box-shadow: 5px 5px 7px #FA02A0;
}
#btn2:hover{
    box-shadow: 5px 5px 7px #02FAA4;
}

.btn i:hover{
 transform: scale(1.2);
  
}
.btn .fa-play{
    color: #02FAA4; 
}
.btn .fa-code{
    color: #FA02A0;
}
.titre{
    text-align: center;
    position: relative;
    left: 300px;
    color: white;
    font-family: sans-serif;
}