*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #DDD5D9;
}
.container
{
    height: 85vh;
    width: 80vw;
    background: #F9F3F6;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 2s;
}
.container .nav
{
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.container .nav .liste1{
    display: flex;
    justify-content: flex-start;
}
.container .nav .liste2 li{
list-style: none;
 background-color:#FA02A0;
 height: 100%;
 width: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.container .nav .liste1 li{
    margin-left: 30px;
    list-style: none;
    height: 100%;
    width: 80px;
    background-color: #FA02A0;;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container .nav .liste1 li a{
  
    text-decoration: none;
}
.container .nav .liste1 li a .fas{
    color: white;
    font-size: 40px;
}
.container .nav .liste2 li a .fas{
    color: white;
    font-size: 40px;
}
/* the Menu*/
.container .list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 500px;
    height: 400px;
}
.container .list ul{
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 70%;
}
.container .list ul li a{
align-items: center;

}
.container .list ul li a .span{
    margin-left: 20px;
    }

.container .list .menu-bar li a{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    height: 60px;
    border-radius: 5px;
    background-color:#FA02A0;
    padding: 0 20px;
    margin: 0 0 15px 0;
    margin-right: 13px;
}
.container .list .menu-bar li a .icon{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.container-js
{
    background: rgb(37, 37, 37);
}
.body-js
{
    background: rgb(56, 56, 55) !important;
}
.node-js
{
    transform: rotate(180deg);
}
.container .bloc-levels{
    width: 300px;
    position: absolute;
    right: 113px;
    top: 255px;
    float: left;  
}
.showlist{
    visibility: visible;
}
.not-showlist{
    visibility: hidden;
}

.container .bloc-levels button{
    width: 100%;
    height: 60px;
    background: palevioletred;
    border:5px solid white ;
    border: none;
}
.fa-chevron-right{
    position: absolute;
    right: 30px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.container .bloc-levels button a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.container .bloc-levels button :hover{
    background-color:#FA02A0;    
}
